.container
    {
     font-size: 14px;
     line-height: 26px;
     max-width: 700px; 
     background: #fff;
     margin: 0px auto 0px; 
      box-shadow: 1px 1px 2px #DAD7D7;  
     border-radius: 3px;   
     padding: 30px 30px 10px 30px;
 
    }
   .image
    {
      float: left;
      margin: 0px 20px 0px 30px; 
      width: 150px; 
      border-radius: 50%;
    } 
   .full-name 
     { float:left;
       font-size: 40px;
       text-transform: uppercase;
       margin: 10px;
     }
     .first-name {
       font-weight: 700;
     }
     
     .position {
       font-weight: bold;
       display:flex;
       margin-top: 10px;
       font-size: 20px; 
       font-weight: 300;
       text-transform: uppercase;
     }
     .contact-info {
        text-align: right;
        margin: 20px;
      }
      .val {
        color: rgb(56, 52, 52);
        font-weight: 300;
      } 
      .li 
    {
      display: inline-block;
      padding: 14px 16px 0px 14px ; 
      text-decoration: none; 
      color: rgb(56, 52, 52);
    }
  
    .underline-hover-effect {
      display: inline-block;
      padding-bottom: 0px; /* defines the space between text and underline */
      position: relative;
    }
    
    .underline-hover-effect::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 1px;
      background-color: #8ca792;
      transition: width 0.35s ease-out;
    }
    .underline-hover-effect:hover::before {
      width: 100%;
    }
    .specialities {
      padding: 15px;
    }
    .specialities ul {
      padding-left: 0px;
      display: flex;
      list-style-type: none;
      text-align: center;
    }
    .specialities ul li{
      height:100px
    }
    .specialities ul li svg {
      width: 95%;
      fill: transparent;
    }
    .specialities ul li svg circle {
      stroke-width: 1px;
      stroke: #8ca792;
    }
    