
    .section {
        margin-top: 40px;  
      }
    .section__title 
    {
        letter-spacing: 2px;
        color: #54AFE4;
        font-weight: bold;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
      
      .section__list-item {
        width: 500px;
        margin-bottom: 40px;
      }
      
      
      
      .left ,
      .right {
        vertical-align: top;
        display: inline-block;
      }
      
      .left {
        width: 50%;    
      }
      
      .right {
        
        width: 50%;    
      }
      
      .name {
        font-weight: bold;
      }
table {
    width: 100%;
    border-spacing: 0; 
    border-collapse: separate;
    
}

table tr:last-child td:last-child {
    border-bottom-right-radius:10px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius:10px;
}

table tr:first-child th:first-child,
table tr:first-child td:first-child {
    border-top-left-radius:10px
}

table tr:first-child th:last-child,
table tr:first-child td:last-child {
    border-top-right-radius:10px
}

table tr th:first-child,
table tr td:first-child {
   border-left: 2px solid #B2DBF4;
}
table tr:first-child th,
table tr:first-child td {
   border-top: 2px solid #B2DBF4;
}
tr{
    background-color: #ffffff;
    }
tr:nth-child(even) {
background-color: #dddddd;}
td
{
    min-width: 100px;
text-align: center;
padding: 8px;
}